

/* BACKGROUNDS */
$welcome-page-bg-img: url('../assets/img/La capitainerie.jpg');
$request-page-bg-img: url('../assets/img/Quartier historique Sidi El Houari.jpg');
$request-page-bg-blurred-img: url('../assets/img/blur_bg.jpg');
$info-page-bg-img: url('../assets/img/Rue Khemisti.jpg');    
// $welcome-page-bg-img: url('https://i.pinimg.com/originals/18/a1/29/18a12904844b9d8d0140292be5189ee1.jpg');
// $request-page-bg-img: url('https://i.pinimg.com/originals/18/a1/29/18a12904844b9d8d0140292be5189ee1.jpg');
// $request-page-bg-blurred-img: url('../assets/img/blur_bg.jpg');
// $info-page-bg-img: url('https://i.pinimg.com/originals/18/a1/29/18a12904844b9d8d0140292be5189ee1.jpg');    

/* Request/Response page style */
$form-width: 70%;
$form-height: 75vh;

$form-height-min-screen: 85vh;
$form-width-min-screen: 95%;

