@import "./variables";


.request-form {
  display: block;
  padding: 10px;
  width: $form-width;
  height: $form-height;
  margin-left:auto;
  margin-right:auto;
  border: 5px solid rgba(255, 255, 255, .5);
  overflow: hidden;

  &-left {
    margin-top: 10px;
    margin-left: 30px;
  }
  &-right {
    overflow: hidden;
    position: relative;
    margin: auto;
  }
}
