.slide-down-enter-active {
  animation: slide-down-in 1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
}

.slide-down-leave-active {
  animation: slide-down-out 1s ease-out;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

@keyframes slide-down-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.slide-up-enter-active {
  animation: slide-up-in 1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
}

.slide-up-leave-active {
  animation: slide-up-out 1s ease-out;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

@keyframes slide-up-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-up-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
