<!DOCTYPE HTML>

<html lang="fr">
<head>
	<meta charset="UTF-8">
    <title>Index</title>
    
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Public Transit App SPUF</h1>
    <h3>I'll add a password here hein .-.</h3>

    <a href="admin/editstation">Edit stations</a>
    <br>
    <a href="admin/createStation">Create Stations</a>
    <br>
    <a href="#">Edit lines</a>
    <br>
    <a href="/">Back</a>
</body>

    <script src="/js/index.js"></script>
</html>