$background-color: rgba(10, 10, 25, 1);

$font : "MS Comic Sans", sans-serif;
$font-color : white;
$font-size : 16px;

body {
    background-color: $background-color;
    
    font-family: $font;
    color: $font-color;
    font-size: $font-size;
}