<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
		
		<link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		<h1>Public Transit App SPUF</h1>
		<h1>Stations</h1>

		<table border="1">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Lat</th>
				<th>Lon</th>
			</tr>
			<% stations.forEach((station)=>{ %>
			<tr>
				<td><%=station.id%></td>
				<td><%=station.name%></td>
				<td><%=station.coord.lat%></td>
				<td><%=station.coord.lon%></td>
			</tr>
			<% }) %>
		</table>

		<a href="/user">Back</a>
	</body>
	<script src="/js/index.js"></script>
</html>