<!DOCTYPE HTML>

<html lang="fr">
<head>
	<meta charset="UTF-8">
    <title>Index</title>
    
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Public Transit App SPUF</h1>

    <a href="/station">View all stations</a>
    <br>
    <a href="/direction">Show me the way</a>
    <br>
    <a href="/">Back</a>
</body>

    <script src="/js/index.js"></script>
</html>