/* BACKGROUNDS */

$welcome-page-bg-img: url('../assets/img/RueKhemisti-blue.jpg');
$request-page-bg-img: url('../assets/img/Rue Khemisti.jpg');
$request-page-bg-blurred-img: url('../assets/img/blur_RueKhemisti.jpg');
$info-page-bg-img: url('../assets/img/Rue Khemisti.jpg');
$info-page-bg-blurred-img: url('../assets/img/blur_RueKhemisti.jpg');
/* Request/Response page style */

$form-width: 70%;
$form-height: 75vh;
$form-height-min-screen: 85vh;
$form-width-min-screen: 95%;
// aesthetic font
$font1: 'Work Sans';
$font2: 'Titillium Web';
$font3: 'Raleway';