

/* BACKGROUNDS */
$welcome-page-bg-img: url('../assets/img/La capitainerie.jpg');
$request-page-bg-img: url('../assets/img/Quartier historique Sidi El Houari.jpg');
$request-page-bg-blurred-img: url('../assets/img/blur_bg.jpg');
$info-page-bg-img: url('../assets/img/Rue Khemisti.jpg');    

/* Request/Response page style */
$form-width: 70%;
$form-height: 600px;

